.button {
    cursor: pointer;
    text-decoration: none;
    padding: .5rem;
    background-color: $primary;
    text-align: center;
    color: $secondary;
    display: inline-block;
    &.active {
      text-decoration: underline;
    }
    &:hover {
      text-decoration: underline;
    }
    &:not(:last-child) {
      margin-right: 1rem;
    }
}

.danger-button {
  background-color: $tertiary;
  color: white;
  border: none;
  transition: .3s; 
  &:hover {
    transform: translateY(5px);
  }
}