.button {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: white;
  display: inline-block;
  line-height: 30px;
  &.active {
    text-decoration: underline;
  }
  &:hover {
    text-decoration: underline;
  }
}

.danger-button {
  background-color: #ff313b;
  color: white;
  border: none;
  font-size: 20px;
  line-height: 38px;
  padding: 0 1rem;
  border-radius: 8px;
}

.logout-button {
  background-color: #ff313b;
  width: 40px;
  height: 40px;
  display: block;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.log-button {
  color: white;
  background-color: $tertiary;
  // border: 1px solid white;
  padding: 0 1rem;
  font-family: "mukta-regular";
  border-radius: 5px;
}
.valid-button {
  padding: 0 1rem;
  color: white;
  background-color: $secondary;
  border: 2px outset white;
  border-radius: 5px;
  &:active {
    border-style: inset;
  }
}

.disable-button {
  padding: 0 1rem;
  color: black;
  background-color: grey;
  border: 2px outset black;
  border-radius: 5px;
  &:active {
    border-style: inset;
  }
  pointer-events: none;
}

.cancel {
  margin-right: 2rem;
}