.agenda-content {
    background-color: $primary;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 10px;
    width: 90%;
}

.calendar-content {
    background-color: white;
    border-radius: 10px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}
//navigation

.react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    background-color: $secondary;
    .react-calendar__navigation__next2-button,
    .react-calendar__navigation__prev2-button {
        display: none;
    }
    
    button {
        cursor: pointer;
        border: none;
        padding: 1rem;
        background-color: inherit;
        transition: 0.3s;
        flex-grow: inherit !important;
        font-size: 16px;
        font-weight: bold;
        &:hover {
            color: $primary;
            background-color: white;
        }
        span {
            text-transform: capitalize;
        }
    }
    .react-calendar__navigation__label {
        border: none;
        width: auto;
    }
}

//days name
.react-calendar__month-view__weekdays {
    text-align: center;
    display: grid !important;
    grid-template-columns: repeat(7, 1fr) !important;
    justify-content: center;
    margin: 20px 0;
    div {
        cursor: pointer;
        color: $tertiary;
        transition: 0.3s;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            color: white;
            background-color: $tertiary;
        }
        abbr {
            text-decoration: none;
            text-transform: capitalize;
        }
    }
}

// days number
.react-calendar__month-view__days {
    text-align: center;
    display: grid !important;
    grid-template-columns: repeat(7, 1fr) !important;
    button {
        cursor: pointer;
        border: none;
        font-size: 1rem;
        height: 50px;
        background-color: inherit;
        transition: 0.3s;
        color: $secondary;
        &:hover {
            color: $primary;
            background-color: $secondary;
        }
    }
    .react-calendar__tile--now {
        color: $primary;
        background-color: $tertiary;
        color: white;
        border: 2px solid $tertiary;
    }
    .react-calendar__tile--active,
    .react-calendar__tile--range,
    .react-calendar__tile--rangeStart,
    .react-calendar__tile--rangeEnd,
    .react-calendar__tile--rangeBothEnds {
        color: $primary;
        background-color: $secondary;
    }
    .react-calendar__month-view__days__day--neighboringMonth {
        background-color: rgb(237, 225, 225);
        border-color: $primary;
        color: $primary;
    }
}
